.container-register-layout{
    height: 100vh;
    background-color: #111B27;
    background-image: url('../../assets/imgs/Cadastro/fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content:center;
}

.container-register-txt{
    width: 60%;
    height: 100%;
    position: relative;
}

.container-register-txt h1{
    font-family: 'Montserrat';
    width: 70%;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(1.75rem, 0.5rem + 3vw, 6rem);
    line-height: clamp(1.75rem, 0.5rem + 3vw, 6rem);
    color: #FFFFFF;
    position: absolute;
    top: 40%;
    left: 73%;
    transform: translate(-50%, -50%);
}

.container-register{
    width: 40%;
    height: 100%;
    position: relative;
}

.container-register-form{
    width: 60%;
    height: 85%;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.container-register-form-name{
    width: 98%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-register-form-name img{
    width: 100%;
}

.container-register-form-box{
    width: 98%;
    height: 85%;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-register-form-box-title{
    width: 98%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-register-form-box-title h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: clamp(0.8rem, 0.3rem + 1vw, 2.5rem);
    color: #000000;
}
.container-register-form-box-input{
    margin: 5px 0 5px 0;
    width: 80%;
    height: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.container-register-form-box-input p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: clamp(0.5rem, 0.2rem + 0.5vw, 1rem);
    color: #000000;
}

.container-register-form-box-input input{
    box-sizing: border-box;
    padding-left: 10px;
    width: 100%;
    height: 52%;
    min-height: 30px;
    max-height: 90px;
    border: 2px solid #BDBDBD;
    border-radius: 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(0.7rem, 0.1rem + 0.5vw, 1rem);
    text-transform: lowercase;
    color: #BDBDBD;
    margin: 0;
    color: #C72C2C;

}

.container-register-form-box-create{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center
}

.container-register-form-box-create .container-register-form-box-create-link{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: clamp(0.4rem, 0.3rem + 0.5vw, 1.2rem);
    text-decoration: none;
    color: #000000;
}

.container-register-form-box-input-confirm input::placeholder{
    color: #C72C2C;
}

.container-register-form-box-input-confirm p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: clamp(0.5rem, 0.2rem + 0.5vw, 1rem);
    color: #C72C2C;
}

.container-register-form-box-input-confirm{
    width: 80%;
    height: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-register-form-box-input-confirm input{
    box-sizing: border-box;
    padding-left: 10px;
    width: 100%;
    height: 52%;
    min-height: 30px;
    max-height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #C72C2C;
    color: #C72C2C;
    outline-color: #C72C2C;
    border-radius: 4px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: clamp(0.7rem, 0.1rem + 0.5vw, 1rem);
    text-transform: lowercase;
    color: #BDBDBD;
}
.container-register-form-p{
    width: 80%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: clamp(0.5rem, 0.1rem + 0.5vw, 1rem);
    color: #C72C2C;
}
.container-register-form-box-button{
    width: 80%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.container-register-form-box-button .container-register-form-box-button-link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    height: 80%;
    background-color: #FF4655;
    border: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(0.6rem, 0.3rem + 0.5vw, 1.2rem);
    text-align: center;
    border: 2px solid #FF4655;
    cursor: pointer;
    color: #FFFFFF;
}

.container-register-form-box-create{
    width: 100%;
    height: 22.5%;
    display: flex;
    align-items: center;
    justify-content: center
}

.container-register-form-box-create .container-register-form-box-create-link{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: clamp(0.6rem, 0.3rem + 0.5vw, 1.2rem);
    text-decoration: none;
    color: #000000;
}

@media screen and (max-width:820px) {

    .container-register-txt{
        display: none;
    }
    
    .container-register{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container-register-form{
        position: initial;
        top: 0;
        left: 0;
        transform: translate(0%, 0%);
    }

} 


@media screen and (max-width:568px){

    .container-register-form{
        width: 90%;

    }
}